* {
  margin: 0;
  padding: 0;
}
.chart {
  height: "900px";
  width: "1600px";
}
.apexcharts-toolbar {
  display: none !important;
}
.apexcharts-canvas {
  min-height: 900px !important;
  height: 900px !important;
}
